.checkout {
    width: 90%;
    margin: 0.5rem auto;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.checkout .form__info {
    width: 650px;
}

.checkout form div {
    margin: 10px 0;
}

.checkout form div input {
    width: 100%;
    padding: 15px 25px;
    border-radius: 5px;
    border: 1px solid #6b6868;
}

.checkout h6 {
    font-size: 20px;
    margin-bottom: 1.5rem;
}

.checkout .form__box {
    width: 300px;
    padding: 30px 20px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 5px;
}

.form__box .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.form__box .box h3 {
    font-size: 23px;
    font-weight: 500;
}

.form__box .box h4 {
    font-weight: 400;
}

.form__box__btn {
    width: 100%;
    border-radius: 2px;
    margin: 0 auto;
    color: var(--primary-color);
    background-color: #fff;
    padding: 10px 15px;
    font-size: 17px;
    margin-top: 15px;
    font-weight: bolder;
    cursor: pointer;
    transition: all 0.5s;
    outline: none;
    border: none;
}

@media screen and (max-width: 900px) {
    .checkout {
        flex-direction: column;
        gap: 3rem;
    }

    .checkout .form__box {
        width: 500px;
        padding: 30px 20px;
    }

    .checkout .form__info {
        width: 650px;
    }
}

@media screen and (max-width: 700px) {
    .checkout {
    }

    .checkout .form__box {
        width: 450px;
        padding: 30px 20px;
    }

    .checkout .form__info {
        width: 85%;
    }
}

@media screen and (max-width: 500px) {
    .checkout {
        width: 90%;
    }

    .checkout .form__box {
        width: 95%;
        padding: 30px 20px;
    }

    .checkout .form__info {
        width: 95%;
    }
}
