
.header {
    width: 100%;
    margin: 0 auto;
    border: 1px solid gray;
    position: fixed;
    top: 0;
    background-color: white;
    padding: 20px 0;
    z-index: 900;
}

.nav__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.logo img {
    width: 35px;
    height: 35px;
}

.logo h1 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary-color);
}

.menu {
    display: flex;
    align-items: center;
    column-gap: 2.9rem;
}

.nav__item a {
    color: var(--primary-color);
    font-weight: 500;
}

.nav__icons {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.nav__icons .cart__icons {
    font-size: 1.5rem;
    cursor: pointer;
}

.cart__icons {
    position: relative;
}

.badge {
    position: absolute;
    top: 22%;
    right: -5%;
    width: 15px;
    height: 15px;
    content: '';
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.5rem;
    font-weight: 600;
    z-index: 10;
}

.nav__icons span img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.mobile__menu {
    font-size: 1.5rem;
    color: var(--primary-color);
    display: none;
}

.nav__active {
    font-weight: 850 !important;
}

.nav__icons h3 {
    color: red;
    font-size: 30px;
}

@media screen and (max-width: 1025px){
    .nav__wrapper {
        width: 90%;
        justify-content: space-between;    
    
    }

}

@media screen and (max-width: 800px){
    .nav__wrapper {
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header {
        width: 765px;
    }
}