header{
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 5000;
    border: 1px solid gray;
    width: 100%;
    padding: 20px 0;
}

.nav__wrapper {
    position: relative;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.logo img {
    width: 35px;
    height: 35px;
}

.logo h1 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary-color);
}

.menu {
    display: flex;
    align-items: center;
    column-gap: 2.9rem;
}

.nav__item a {
    color: var(--primary-color);
    font-weight: 500;
}

.nav__icons {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.nav__icons .cart__icons {
    font-size: 1.5rem;
    cursor: pointer;
}

.cart__icons {
    position: relative;
}

.badge {
    position: absolute;
    top: 22%;
    right: -5%;
    width: 15px;
    height: 15px;
    content: '';
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.5rem;
    font-weight: 600;
    z-index: 10;
}

.nav__icons span img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.mobile__menu {
    font-size: 1.5rem;
    color: var(--primary-color);
    display: none;
}

.nav__active {
    font-weight: 850 !important;
}

.nav__icons h3 {
    color: red;
    font-size: 30px;
}

@media screen and (max-width: 1025px){
    .nav__wrapper {
        width: 90%;
        justify-content: space-between;
        padding: 0 2rem;    
    }
}

@media screen and (max-width: 800px){
    .nav__wrapper {
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mobile__menu {
        display: block;
    }

    .navigation {
        display: none;
    }

    .nav__responsive__item{
        position: fixed;
        width: 100%;
        background: rgba(0, 0, 0, .53);
        flex-direction: column;
        gap: 40px;
        height: 100%;
        justify-content: center;
        z-index: 400;
    }

    .menu__responsive__item{
        position: absolute;
        background-color: #fff;
        right: 0;
        top: 0;
        display: flex;
        align-items:center;
        justify-content: center;
        flex-direction: column;
        gap: 5rem;
        border: 1px solid red;
        height: 100%;
        width: 50%;
        z-index: 1000;

    }

    @media screen and (max-width: 600px){
        .menu__responsive__item{
            width: 70%;
        }
    }
}