.product__items{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.trending__products{
    width: 90%;
    margin: 0 auto;
    padding: 60px 0;
}

.best__sales{
    width: 90%;
    margin: 0 auto;
    padding: 60px 0;
}

.new__arrivals{
    width: 90%;
    margin: 0 auto;
    padding: 60px 0;
}


@media screen and (max-width: 1025px){
    .hero {
    width: 90%;
    align-items: center;
}

.hero-img {
    border: 1px solid red;
    flex-basis: 45%;
}

.hero h2 {
    font-size: 1.8rem;
    margin: 15px 0px;
}


.hero p {
    margin-bottom: 30px;

}
.hero-content {
    flex-basis: 46%;
    border: 1px solid red;

}

}