.product__items {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.trending__products {
    width: 90%;
    margin: 0 auto;
    padding: 60px 0;
}

.best__sales {
    width: 90%;
    margin: 0 auto;
    padding: 60px 0;
}

.new__arrivals {
    width: 90%;
    margin: 0 auto;
    padding: 60px 0;
}


