.product__card {
    width: 360px;
    border: 1px solid #e4e4e4;
    border-radius: 9px;
    padding: 20px 15px;
    flex-shrink: 0;
    box-shadow: 9px 10px 7px -4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 9px 10px 7px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 9px 10px 7px -4px rgba(0, 0, 0, 0.75);
}

img {
    width: 100%;
}

.product__img {
    height: 80%;
    /* border: 1px solid red; */
    padding: 15px 0;
    transition: all 0.5s;
    cursor: pointer;


}

.product__card-bottom {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
}

.product__card-bottom span {
    font-weight: 600;
}

.chair {
    font-size: 14px;
}

.product__card-bottom .icon {
    font-size: 20px;
    color: white;
    background-color: var(--primary-color);
    padding: 8px 10px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.25s;
}

.product__card-bottom .icon:hover {
    /* transform: translateY(-10px); */
    transform: scale(0.92);

}


.product__img:hover {
    transform: scale(0.90);
}

.product__name:hover {
    color: inherit;
}